/// Colors
$_Primary: #ff4646;
$_Static-White: #fff;
$_Tag-Purple: #4361ff;
$_Content-BG: #ecf3f8;
$_Primary-10: rgba(255, 70, 70, 0.1);
$_Static-White-40: rgba(255, 255, 255, 0.4);
$_Tag-Pink: #ff43f7;
$_Overlay: rgba(24, 28, 41, 0.8);
$_Dark: #181c29;
$_Static-White-20: rgba(255, 255, 255, 0.2);
$_Tag-Green: #06a44f;
